@use "./variables.scss" as *;

// put your custom CSS here!
// Put your custom CSS here:

pre {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  word-break: break-word;
  overflow-x: visible;
}
.content-meta {
  display: none;
}
// Put your custom CSS here:

h1 > a[href^="#"],
h2 > a[href^="#"],
h3 > a[href^="#"],
h4 > a[href^="#"],
h5 > a[href^="#"],
h6 > a[href^="#"] {
  display: none !important;
}
